<!doctype html>
<html>
    <head>
        <title>Squat Trainer App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" />
    </head>
    <body>
        <div id="page-container">
            <h1>Welcome to the Squat Trainer App</h1>
            <div id="content">
                {% block content %} {% endblock %}

                {% if error %}
                    <p><strong>Error:</strong>{{ error }}</p>
                {% endif %}
            </div>
            <div id="footer">
                <p>Site and App Created by Omar Husain - 2019</p>
            </div>
        </div>
    </body>
</html>