{% extends "base.html" %}
{% block content %}
    <h2>Evaluate your squat form based on a machine learning algorithm</h2>
    <h3>Add a video of you squatting from any angle and the app will give you feedback on your form.<br>
        Your video will be used to further train the algorithm to increase the accuracy.</h3>
    <img src="{{ url_for('static', filename='images/movie2.gif') }}" width="25%">
    <h3>Current Accuracy of Model: 95.0%</h3>
    <h2><a href="{{ url_for('upload_file') }}">Test it!</a></h2>
{% endblock %}