{% extends "base.html" %}
{% block content %}
    <h2>Submit Squat Video File</h2>
    <div id="progress">
        <p></p>
    </div>
    <form action="" method="post" enctype="multipart/form-data" onsubmit="AJAXSubmit(this); return false;">
        <fieldset>
          <legend>Upload</legend>
          <p>
            <input type="hidden" name="upload_preset" value="jck6vrrm">
          </p>
          <p>
            <label >Select file:
            <input type="file" name="file"></label>
          </p>
          
          <p>
            <input type="submit" value="Submit" />
          </p>
        </fieldset>
    </form>
    <h2><a href="{{ url_for('reset') }}">Back to Homepage!</a></h2>

    <script type='text/javascript'>

        window.ajaxSuccess = function () {
        response = JSON.parse(this.responseText);
        console.log("ajaxSuccess", typeof this.responseText);
        }

        window.AJAXSubmit = function (formElement) {
        var progressElem = document.getElementById("progress");
        progressElem.innerText = "Uploading file...";
        var newElem = document.createElement('div');
        newElem.className = "loader";
        progressElem.appendChild(newElem)
        console.log("starting AJAXSubmit");
        if (!formElement.action) { return; }
        var xhr = new XMLHttpRequest();
        xhr.onload = ajaxSuccess;
        xhr.open("post", "https://api.cloudinary.com/v1_1/aitrainer/video/upload");
        xhr.send(new FormData(formElement));
        xhr.onreadystatechange = function() {
            if(xhr.readyState == 4){
                if(xhr.status == 200 || xhr.status == 204){
                    var responseData = this.responseText
                    $.ajax({
                        type: 'POST',
                        url: '/run_test',
                        data: responseData,
                        contentType: 'application/json',
                        success: function(data, status, request) {
                            status_url = request.getResponseHeader('Location');
                            update_progress(status_url, progressElem, newElem);
                        },
                        error: function() {
                            alert('Unexpected error');
                        }
                    });

                }
            }     
                else{
                    progressElem.innerText = "Video uploaded successfully. Evaluating your squat form...";
                    progressElem.appendChild(newElem);
                }
        }   
    }

    function update_progress(status_url, element, loader_element) {
        // send GET request to status URL
        $.getJSON(status_url, function(data) {
            // update UI
            // element.innerText = data['state'];
            // element.appendChild(loader_element);
            if (data['state'] == 'SUCCESS') {
                if ('result' in data) {
                    // show result
                    element.innerText = "Here are the results of your squat evaluation!";
                    element.appendChild(document.createElement("br"));
                    var fileName  = data['result'];
                    var imgString = '<img src="{{ url_for('send_file', filename='MYFILE') }}">'.replace("MYFILE", fileName);
                    $(element).html(imgString);
                    console.log(data['result']);
                    // imgElem.src = data['result'];
                    // element.appendChild(imgElem);
                }
                else {
                    // something unexpected happened
                    element.innerText = 'Result: ' + data['state'];
                }
            }
            else {
                // rerun in 1 second
                setTimeout(function() {
                    update_progress(status_url, element);
                }, 1000);
            }
        });
    }

    </script>

{% endblock %}