{% extends "base.html" %}
{% block content %}
    <h2>Submit Squat Video File</h2>
    <div id="progress">
        <p></p>
    </div>
    <form action="" method="post" enctype="multipart/form-data" onsubmit="AJAXSubmit(this); return false;">
        <fieldset>
          <legend>Upload</legend>
          <p>
            <input type="hidden" name="upload_preset" value="jck6vrrm">
          </p>
          <p>
            <label >Select file:
            <input type="file" name="file"></label>
          </p>
          
          <p>
            <input type="submit" value="Submit" />
          </p>
        </fieldset>
    </form>

    <script type='text/javascript'>
        window.ajaxSuccess = function () {
        response = JSON.parse(this.responseText);
        console.log("ajaxSuccess", typeof this.responseText);
        }
        window.AJAXSubmit = function (formElement) {
        var progressElem = document.getElementById("progress");
        progressElem.innerText = "Uploading file...";
        var newElem = document.createElement('div');
        newElem.className = "loader";
        progressElem.appendChild(newElem)
        console.log("starting AJAXSubmit");
        if (!formElement.action) { return; }
        var xhr = new XMLHttpRequest();
        xhr.onload = ajaxSuccess;
        xhr.open("post", "https://api.cloudinary.com/v1_1/aitrainer/video/upload");
        xhr.send(new FormData(formElement));
        xhr.onreadystatechange = function() {
            if(xhr.readyState === 4){
                if(xhr.status === 200 || xhr.status === 204){
                    $.post( "{{ url_for('run_test') }}", {
                    javascript_data: this.responseText
                    }, function(response){
                        console.log("Response from flask server: ",response);
                        while(!response){
                            // do stuff
                           console.log("there was an error!");
                            }
                            $.ajax({
                                type : "POST",
                                url : '/load_model',
                                dataType: "json",
                                data: JSON.stringify("request"),
                                contentType: 'application/json;charset=UTF-8',
                                success: function (data) {
                                    console.log(data);
                                    $.ajax({
                                        type : "POST",
                                        url : '/test_model',
                                        dataType: "json",
                                        data: JSON.stringify(""),
                                        contentType: 'application/json;charset=UTF-8',
                                        success: function (data) {
                                            console.log(data);
                                            window.location.href = "{{ url_for('show_results') }}";
                                            }
                                        });
                                    
                                    
                                    }
                                }); 
                        }
                        );
                }
            
            }     
                else{
                    progressElem.innerText = "Video uploaded successfully. Evaluating your squat form..."
                    progressElem.appendChild(newElem)
                }
        }   
    }
    </script>

{% endblock %}